<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-14">Calendario de Citas</h2>

  <div class="flex">
    <app-calendar-view
      class="w-3/4 pr-4"
      [selectedDate]="selectedDate"
      [appointments]="appointments"
      (dateSelected)="onDateSelected($event)">
    </app-calendar-view>
    <app-appointment-list
      class="w-1/4 border-l pl-4"
      [selectedDate]="selectedDate"
      [appointments]="appointments"
      (appointmentAdded)="onAppointmentAdded($event)">
    </app-appointment-list>
  </div>
</div>